.list-assignments {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1500px;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #555;
  margin-bottom: 40px;
}

.error-message {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb; /* Light red border */
  padding: 10px; /* Space inside the message box */
  margin: 10px; /* Space outside the message box */
  border-radius: 5px; /* Slightly rounded corners */
  text-align: center; /* Center the text */
  font-family: Arial, sans-serif; /* Ensure font consistency */
  font-size: 15px; /* Font size */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; /* Dark purple background for the button */
  border: 1px solid #8e309c; /* Set the border color and style */
  font-family: Arial, sans-serif;
}

thead {
  background-color: #8e309c;
  color: white;
  font-family: Arial, sans-serif;
}

table th, table td {
  padding: 12px;
  text-align: left;
}

table th {
  border: 1px solid #fff;
}

table td {
  color: #555;
  background-color: #fff; /* light purple background for the button */
  border: 1px solid #8e309c; /* Set the border color and style */
}

tr:hover {
  background-color: #f3e5f5;
}

td button {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #f3e5f5; /* Dark purple background for the button */
  color: #555;
  border: 1.5px solid #8e309c;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

  td button:hover {
    background-color: #8e309c; /* Darker purple on hover */
    color: white;
    font-weight: bold;
  }

  td button:last-child {
    background-color: #f3e5f5; /* Dark purple background for the button */
  }

    td button:last-child:hover {
      background-color: #8e309c; /* Darker purple on hover */
      color: white;
      font-weight: bold;
    }

@media (max-width: 768px) {
  .list-assignments {
    width: 100%;
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  td button {
    padding: 6px 8px;
  }
}
