<header>
  <img src="assets/th.jpeg" alt="Logo" class="logo">
  <h1>Human Movement Sciences by KWL</h1>
  <!-- You can add more elements like logo, navigation, or search bar if needed -->
</header>

<nav>
  <ul>
    <li><a routerLink="/home">Overview</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/landing">Landing</a></li>
    <li><a routerLink="/user-admin">User Administration</a></li>
    <li><a routerLink="/list-assignments">Assignments</a></li>
    <li><a routerLink="/create-assignment">Create Assignment</a></li>
    <li><a routerLink="/list-assignment-videos">Assignment Videos</a></li>
    <li><a routerLink="/watch-video-feedback">Watch Video & Feedback</a></li>
  </ul>
</nav>

<!-- Message displayed when trying to access protected routes without being logged in -->
<!--<div *ngIf="showLoginMessage" class="login-message">
  <p>You need to log in to access this page.</p>
</div>-->

<router-outlet></router-outlet>

<footer>
  <p>&copy; 2024 Human Movement Sciences. All rights reserved.</p>
  <!-- Add links to privacy policy, terms of service, or social media icons if needed -->
</footer>


